In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data_file.csv')

In [3]:
data.head()

   train  Abuse  Abuse013_x264  4869
0  train  Abuse  Abuse014_x264  2590
1  train  Abuse  Abuse015_x264  7875
2  train  Abuse  Abuse016_x264  1407
3  train  Abuse  Abuse017_x264  1920
4  train  Abuse  Abuse018_x264  2428

In [4]:
data.dropna(axis=0, how='any', thresh =None, subset=None, inplace=False)

     train      Abuse      Abuse013_x264   4869
0    train      Abuse      Abuse014_x264   2590
1    train      Abuse      Abuse015_x264   7875
2    train      Abuse      Abuse016_x264   1407
3    train      Abuse      Abuse017_x264   1920
4    train      Abuse      Abuse018_x264   2428
..     ...        ...                ...    ...
234   test  Vandalism  Vandalism008_x264  12589
235   test  Vandalism  Vandalism009_x264   1328
236   test  Vandalism  Vandalism010_x264   3945
237   test  Vandalism  Vandalism011_x264  12449
238   test  Vandalism  Vandalism012_x264    845

[239 rows x 4 columns]

In [5]:
data.to_csv('data_file.csv')